.env
.idea/
.vscode/
.DS_Store
Thumbs.db

src/vendor/
src/node_modules/
src/.phpunit.result.cache
src/.pest.cache/
src/storage/*.key
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/storage/logs/*
src/bootstrap/cache/*
!src/storage/framework/cache/.gitignore
!src/storage/framework/sessions/.gitignore
!src/storage/framework/views/.gitignore
!src/storage/logs/.gitignore
!src/bootstrap/cache/.gitignore

build/output/
coverage/
